extends _partials/layout

block content
  include _partials/header
  
  div(class="home-page")
  
    h1 A BETTER WORLD FOR STATIC WEBSITES
    h5 Awesome hosting, a developer toolkit, and a beautiful CMS. All in one.
    h5 Limit your hassle, not your vision.

    div(class="actions")
      a(href="/signup", class="btn") GET STARTED
      a(href="#tell-me-more", class="btn-sml btn-white") TELL ME MORE

    div(class="video", data-0="margin-top:0px", data-1200="margin-top:-300px")
      div(id="play-video", class="play")
      iframe(id="video", src="https://player.vimeo.com/video/1084537?color=E45D35&title=0&badge=0&portrait=0&byline=0&title=0&api=1", width="800", height="450", frameborder="0", webkitallowfullscreen mozallowfullscreen allowfullscreen)
      
    a(name="tell-me-more")
    section(class="white col-2")
      div(class="block")
        h2 A BEAUTIFUL CMS
        p Content management systems should be simple, easy on the eyes, and #[i fast]. Not a bloated blogging engine jimmy-rigged to be a CMS. Zab was built from the ground up to be a CMS, blogger, form manager, and simple analytics platform. All in one clean dashboard.
        br
        a(href="/cms", class="btn") LEARN MORE
      div(class="block")
        img(src="/img/cms.png")

    section(class="dark col-2")
      div(class="block")
        img(src="/img/hosting.svg", class="hosting-img")
      div(class="block")
        h2 AWESOME HOSTING
        p Stop worrying about maintaining complex server setups to host your marketing site or blog. With Zab's production-grade hosting, putting your site into the cloud is easy. It will be lightning fast behind a global CDN, making down time a thing of the past.
        br
        a(href="/hosting", class="btn") LEARN MORE

    section(class="white col-2")
      div(class="block")
        h2 A DEVELOPER TOOLKIT
        p We know the painpoints of developing static websites. It has been our thing for a long time. Static sites are simple, and the development process should be simple too. Use our open-source CLI to develop, test, and deploy your site. It's that easy.
        br
        a(href="/developers", class="btn") LEARN MORE
      div(class="block")
        img(src="/img/developers.png")

    section(class="dark")
      h1 GET STARTED FOR FREE.
      h5 Have your site up and running in no time.
      div(class="actions footer")
        a(href="/signup", class="btn") SIGN UP
        a(href="/pricing", class="btn-sml btn-white") SEE PLANS

    include _partials/footer
