header
  padding 40px 60px
  margin-bottom 120px
  +below(res-mobile)
    padding 20px 30px

  .logo
    display inline-block
    max-width 160px

  .nav
    list-style-type none
    float right
    line-height 65px
    font-size .9em
    li
      display inline-block
      &:not(:last-child)
        margin-right 55px

  a
    color white
