h1
  color orange
  font-weight 600
  font-size 2.3em
  text-align center
  margin-bottom 20px
  +below(res-mobile)
    font-size 1.5em

h2
  color orange
  font-weight 600
  font-size 2.2em
  margin-bottom 15px
  display inline-block

h5
  color white
  font-size 1.2em
  font-weight 300
  text-align center
  margin-bottom 20px

p
  max-width 530px
  line-height 32px
  color white

.center
  text-align center

@font-face
    font-family 'overpass'
    src url('/fonts/overpass/overpass-light-webfont.eot')
    src url('/fonts/overpass/overpass-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/overpass/overpass-light-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-light-webfont.woff') format('woff'),
         url('/fonts/overpass/overpass-light-webfont.ttf') format('truetype'),
         url('/fonts/overpass/overpass-light-webfont.svg#overpass') format('svg')
    font-style normal
    font-weight 300

@font-face
    font-family 'overpass'
    src url('/fonts/overpass/overpass-regular-webfont.eot')
    src url('/fonts/overpass/overpass-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/overpass/overpass-regular-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-regular-webfont.woff') format('woff'),
         url('/fonts/overpass/overpass-regular-webfont.ttf') format('truetype'),
         url('/fonts/overpass/overpass-regular-webfont.svg#overpass') format('svg')
    font-style normal
    font-weight 400

@font-face
    font-family 'overpass'
    src url('/fonts/overpass/overpass-bold-webfont.eot')
    src url('/fonts/overpass/overpass-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/overpass/overpass-bold-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-bold-webfont.woff') format('woff'),
         url('/fonts/overpass/overpass-bold-webfont.ttf') format('truetype'),
         url('/fonts/overpass/overpass-bold-webfont.svg#overpass') format('svg')
    font-style normal
    font-weight 600
