extends _partials/layout

block content
  include _partials/header
  
  div(class="home-page")
  
    div(class="heading")
      h1 A BETTER WORLD FOR STATIC WEBSITES
      h5 Awesome hosting, a developer toolkit, and a beautiful CMS. All in one.
      h5 Limit your hassle, not your vision.

      //- div(class="actions")
        //- input(class="inpt", type="text", placeholder="Email address")
      form(action="//zab.us8.list-manage.com/subscribe/post?u=18dd2ef49eb01a672424c3b2f&amp;id=8105b2d712", method="post", name="mc-embedded-subscribe-form", class="center signup-form", target="_blank", novalidate)
        div(class="mc-field-group")
          input(type="email", value="", name="EMAIL", class="inpt", id="mce-EMAIL", placeholder="Email address")
          button(type="submit", class="btn") NOTIFY ME
        //- a(href="/signup", class="btn") GET STARTED
        //- a(href="#tell-me-more", class="btn-sml btn-white") TELL ME MORE

    div(class="video", data-0="margin-top:0px", data-1200="margin-top:-300px")
      div(id="play-video", class="play")
      iframe(id="video", width="800", height="450", src="https://www.youtube.com/embed/d601TE-6Crk?enablejsapi=1", frameborder="0", allowfullscreen)
      
    a(name="tell-me-more")

    section(class="white col-2")
      div(class="block")
        h2 A DEVELOPER TOOLKIT
        p We know the painpoints of developing websites. It has been our thing for a long time. Sites built with Zab are easy, and the development process shouldn't hold you back from creating. Use our open-source CLI to develop, test, and deploy your site.
        //- br
        //- a(href="/developers", class="btn") LEARN MORE
      div(class="block")
        img(src="/img/developers.png")
        
    section(class="dark col-2")
      div(class="block")
        img(src="/img/hosting.svg", class="hosting-img")
      div(class="block")
        h2 AWESOME HOSTING
        p Stop worrying about maintaining complex server setups to host your marketing site or blog. With Zab's production-ready hosting, putting your site into the cloud is easy. It will be lightning fast behind a global CDN, making down time a thing of the past.
        //- br
        //- a(href="/hosting", class="btn") LEARN MORE
        
    section(class="white col-2")
      div(class="block")
        h2 A BEAUTIFUL CMS
        p Content management systems should be simple, easy on the eyes, and #[i fast]. Not a bloated blogging engine jimmy-rigged to be a CMS. Zab was built from the ground up to be a CMS, blogger, form manager, and simple analytics platform. All in one clean dashboard. #[b Coming soon!]
        //- br
        //- a(href="/cms", class="btn") LEARN MORE
      div(class="block")
        img(src="/img/cms.png")

    section(class="dark")
      h1 GET STARTED FOR FREE.
      h5 Have your site up and running in no time.
      form(action="//zab.us8.list-manage.com/subscribe/post?u=18dd2ef49eb01a672424c3b2f&amp;id=8105b2d712", method="post", name="mc-embedded-subscribe-form", class="center signup-form", target="_blank", novalidate)
        div(class="mc-field-group")
          input(type="email", value="", name="EMAIL", class="inpt", id="mce-EMAIL", placeholder="Email address")
          button(type="submit", class="btn") NOTIFY ME
      //- div(class="actions footer")
        //- a(href="/signup", class="btn") SIGN UP
        //- a(href="/pricing", class="btn-sml btn-white") SEE PLANS

    //- include _partials/footer
    ul(class="social")
      li: a(href="https://twitter.com/zablabs", target="_blank"): i(class="fa fa-twitter")
      li: a(href="https://facebook.com/zablabs", target="_blank"): i(class="fa fa-facebook")
      li: a(href="https://instagram.com/zablabs", target="_blank"): i(class="fa fa-instagram")
      li: a(href="https://github.com/zab", target="_blank"): i(class="fa fa-github")
