footer
  img(src="/img/icon.svg", class="logo")
  
  ul(class="links")
    li COMPANY
    li: a(href="/about") About Us
    li: a(href="/careers") Careers
    li: a(href="/partners") Our Partners
  ul(class="links")
    li RESOURCES
    li: a(href="/blog") Blog
    li: a(href="/press") Press Kit
    li: a(href="/developers") Developers
    li: a(href="/security") Security
    li: a(href="/terms") Terms & Conditions
    li: a(href="/privacy") Privacy Policy
  ul(class="links")
    li SUPPORT
    li: a(href="/help") Help
    li: a(href="/docs") Documentation
    li: a(href="http://status.zab.io", target="_blank") Status
    li: a(href="/contact") Contact Us

  form(class="subscribe")
    label(for="#subscribe-email") SUBSCRIBE TO OUR NEWSLETTER
    
    div(class="form-inside-btn")
      input(class="inpt", type="email", id="subscribe-email", placeholder="Your email address")
      button(class="btn-inline", type="submit") GO

    ul(class="copyright")
      //- li: a(href="/privacy") Privacy
      //- li: a(href="/terms") Terms
      li &#169; 2015 Zab
    ul(class="social")
      li: a(href="https://twitter.com/zablabs", target="_blank"): i(class="fa fa-twitter")
      li: a(href="https://facebook.com/zablabs", target="_blank"): i(class="fa fa-facebook")
      li: a(href="https://github.com/zab", target="_blank"): i(class="fa fa-github")
