footer
  img(src="/img/icon.svg", class="logo")
  
  ul(class="links")
    li COMPANY
    li: a(href="/about.html") About Us
    li: a(href="/careers.html") Careers
    li: a(href="/partners.html") Our Partners
  ul(class="links")
    li RESOURCES
    li: a(href="/press.html") Press Kit
    li: a(href="/blog.html") Blog
  ul(class="links")
    li SUPPORT
    li: a(href="/docs.html") Documentation
    li: a(href="http://status.zab.io") Status
    li: a(href="/contact.html") Contact Us

  form(class="subscribe")
    label(for="#subscribe-email") SUBSCRIBE TO OUR NEWSLETTER
    
    div(class="form-inside-btn")
      input(class="inpt", type="email", id="subscribe-email", placeholder="Your email address")
      button(class="btn-inline", type="submit") GO

    ul(class="copyright")
      li: a(href="/privacy.html") Privacy
      li: a(href="/terms.html") Terms
      li &#169; 2015 Zab
    ul(class="social")
      li: a(href="https://twitter.com/zablabs", target="_blank"): i(class="fa fa-twitter")
      li: a(href="https://facebook.com/zablabs", target="_blank"): i(class="fa fa-facebook")
      li: a(href="https://github.com/zab", target="_blank"): i(class="fa fa-github")
