html(lang="en")

  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title!= title
    
    meta(name="keywords", content="")
    meta(name="description", content="")
    
    link(rel="icon", type="image/x-icon", href="/__zab__/favicon.png")
    link(rel="shortcut icon", type="image/x-icon", href="/__zab__/favicon.png")
    link(rel="apple-touch-icon-precomposed", href="/__zab__/favicon.png")

    link(rel="stylesheet", type="text/css", href="/css/app.css")
    
  body
    block content
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    script(src="https://f.vimeocdn.com/js/froogaloop2.min.js")
    script(src="/js/app.js")
