header
  a(href="/", class="no-hover"): img(src="/img/logo.svg", class="logo")
  ul(class="nav")
    li: a(href="http://github.com/zab/zab-cli", target="_blank", class="btn-sml") GET STARTED
    //- li: a(href="/pricing") PRICING
    //- li: a(href="/docs") DOCS
    //- li: a(href="/faq") FAQ
    //- li: a(href="/signin", class="btn-sml") SIGN IN
