.pricing-page
  color white

  .price-blocks
    text-align center
    margin 150px 0
    .price-block
      width 150px
      height 150px
      line-height 150px
      display inline-block
      position relative
      color white
      text-align center
      vertical-align middle
      font-size 2em
      opacity 0.9
      margin 0 15px
      &:before
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background orange
        z-index -1
        transform rotate(45deg)
      &.popular
        width 200px
        height 200px
        line-height 180px
        font-size 4em
        font-weight 400
        opacity 1
        span
          font-size .2em
          font-weight 300
          display block
          margin-top -50px
          line-height normal

  .feature-list
    margin auto
    position relative
    left -150px
    th
      font-size 1.1em
      font-weight 300
      text-align left
      display inline-block
      width 300px
      padding-bottom 40px
    .yes, .no
      display inline-block
      width 35px
      height 35px
      border-radius 50%
      border 2px solid white
      vertical-align top
      &:not(:last-child)
        margin-right 170px
    .yes
      opacity 1
      position relative
      &:before
        content '\e900'
        font-family 'icomoon'
        position absolute
        font-size 25px
        top -2px
        left 9px
    .no
      opacity 0.45
